* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  background: rgb(248, 248, 248);
  color: rgb(49, 49, 49);
}

.app__header {
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 1px solid black;
  box-shadow: 0 8px 6px -6px black;
}

.app__header--input {
  width: 80%;
  font-size: 30px;
}

.app__header--button {
  width: 30%;
  font-size: 30px;
}

.app__display {
  text-align: center;
}

.app__display--poster {
  height: 50vh;
}

.app__movies {
  display: none;
}

@media (min-width: 768px) {
  .app__header--input {
    width: 20%;
    height: 5vh;
    font-size: 20px;
  }

  .app__header--button {
    width: 10%;
    font-size: 20px;
  }

  .app__movies {
    display: flex;
    justify-content: space-between;

    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    border: solid 2px black;
    padding: 20px;
  }

  .app__movies__movie--img {
    max-width: 8vh;
    padding: 7px;
  }
}

@media (min-width: 992px) {
  .app__movies__movie--img {
    max-width: 10vh;
    padding: 4px;
  }
}
